.submit-flex {
    display: flex;
    margin: 2rem 1rem;
}

.submit-btn {
    height: fit-content;
    margin: auto;
}

.icons {
    color: white;
    font-size: large;
}

.integer-input {
    color: black !important;
    width: -webkit-fill-available;
    margin: 0.2rem;
}

.alert {
    width: max-content !important;
    margin-left: 7rem;
    margin-bottom: 2rem !important;
}

.loading-gif {
    height: max-content;
    width: min-content;
}